extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Name

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I am not your typical developer, I am ultra creative but still have the ability to pick up new programming languages.
            | I am awesome with people and have experience working directly with clients setting expectations and meeting them.
            | Have knowledge of dev-ops, design, coding and project management and am a natural born leader.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript/Jquery/Vanilla
          li CSS/SASS/Stylus
          li Vue.js/REACT/Bootstrap
          li Design/Sketch
          li Wireframing
          li SCRUM/Project management
        h6 Contact Info

        //- Add your own contact info
        ul
          li (773)-320-5797
          li rashadmad@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/rashadmadison/') LinkedIn
        a.button.expanded(href='https://github.com/rashadmad') GitHub
        a.button.expanded(href='https://twitter.com/rashadmad') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  