extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project.top-container
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Rashad J Madison

        p.lead.text-light
          | Fullstack JavaScript developer & Designer.

        .portfolio-bio
          p
            | I am not your typical developer, Ultra creative but still have the ability to pick up new programming languages and technologies fast.
            | great with people and have experience working directly with clients setting expectations and meeting them.
            | Have knowledge of dev-ops, design, coding, project management and a natural born leader.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript/Jquery/Vanilla
          li CSS/SASS/Stylus
          li Vue.js/REACT/Bootstrap
          li Design/Sketch
          li Wireframing
          li SCRUM/Project management
        h6 Contact Info

        ul
          li (773)-320-5797
          li rashadmad@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/rashadmadison/') LinkedIn
        a.button.expanded(href='https://github.com/rashadmad') GitHub
        a.button.expanded(href='https://twitter.com/rashadmad') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  