extends layout

block content 
    article.grid-container.portfolio-intro
        .cell.shrink.center-text
            a(href='/about')
            img.thumbnail.errorlogo(src='/rashadLogo.jpg')
        div 
            h2= error.status
            h1= error.message
            pre= error.stack