extends layout.pug

block content 
  article.grid-container.portfolio-intro.top-container
    div
      .cell.shrink.center-text
        a(href='/about')
        img.thumbnail(src='profile_img.png')
        
        h1 Rashad J Madison
        h2 Fullstack JavaScript developer

      p.lead.text-light.center-text
        |take a look at my most recent work.

  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3
      each project in projects
        .cell
          a(href='/project' + "/" + project.id)
            img.thumbnail(src= project.image_urls[0]) 
            h5.center-text= project.project_name

      
