<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Rashad J Madison Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='rashadLogo.jpg')
          .cell.auto

            //- Add your name here.
            h5 Rashad J Madison

            //- Add text here to describe who you are, what you do, and why you are so awesome.
            p.text-light
              | I am a creative whose looking to bring creative solutions to the world. 
              | I have dedicated my life to learning and self development. I know that the role of a developer
              | Also to create applications that function properly, securely and have a engrossing experience for the user. 
              | I am ready and excited for any new challenges on the horizon. I decided upon software engineering as a career because being a life long learner is a commitment that I am willing to make.

            //- Add about page route to the href below. 
            a(href='/about') Learn More →

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          //- Add your name here.  This is for the mobile screen sized version.
          span.title-bar-title Rashad J Madison
      block content
        
      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
